In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("C:/Users/merve/OneDrive/Masaüstü/e_commerce_analysis_pipline_project/data/raw/sales_data.csv")

In [6]:
df.head()

,id,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
0,1,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,2,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,3,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,4,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,5,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [7]:
print(df["quantity"].describe())
print(df["quantity"].value_counts())

count    541909.000000
mean          9.552250
std         218.081158
min      -80995.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       80995.000000
Name: quantity, dtype: float64
quantity
 1       148227
 2        81829
 12       61063
 6        40868
 4        38484
          ...
-355          1
-155          1
 1404         1
 388          1
 490          1
Name: count, Length: 722, dtype: int64